.box_contact {
 padding: 20px;
}

.contacts_methods {
 display: flex;

 justify-content: space-evenly;
 gap: 3rem;
}
.sections {
 text-align: center;
}

.contact_form {
 display: flex;
}

.contact_form > form {
 width: 100%;
}

.main_text {
 font-size: 1.5rem;
 width: max-content;
}

/* socials */

.socials {
 display: flex;
 align-items: center;
 padding: 10px;
}

.socials > a {
 color: white;
 padding-left: 5%;
 font-size: 1.2rem;
 font-weight: 400;
 text-decoration: none;
}

.socials > p {
 padding-left: 5%;
}

@media (max-width: 900px) {
 .contact_form {
  display: flex;
  flex-direction: column;
 }

 .contacts_methods {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
}
