.menu {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
 font-size: 1.8rem;
 opacity: 10;
}

.links {
 margin: 0 3%;
 cursor: pointer;
 text-decoration: none;
 color: #ffffff;
}
