#stars,
#stars-duplicate,
#stars2,
#stars2-duplicate,
#stars3,
#stars3-duplicate {
 position: absolute;
 top: 0;
 left: 0;
 background: transparent;
 animation: animStar linear infinite;
}

#stars,
#stars-duplicate {
 width: 1px;
 height: 1px;
 animation-duration: 50s;
}

#stars2,
#stars2-duplicate {
 width: 2px;
 height: 2px;
 animation-duration: 100s;
}

#stars3,
#stars3-duplicate {
 width: 3px;
 height: 3px;
 animation-duration: 150s;
}

#stars-duplicate,
#stars2-duplicate,
#stars3-duplicate {
 top: 2000px;
}

@keyframes animStar {
 from {
  transform: translateY(0px);
 }
 to {
  transform: translateY(-2000px);
 }
}
