body {
 margin: 0;
 font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
 height: auto;
 background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

p,
h1 {
 color: white;
}

.title {
 text-align: center;
 font-size: 2.5rem;
 padding: 5% 0;
}
